In [ ]:
# imports here
import pandas as pd     
import numpy as np    
import sqlite3 as sql

---
#### CS 260 Final Project - SP23
---

# Title (Give a title, based on your topic. Also be sure to rename the file with your initials.)

### By: Nathaniel Gordon, Jonathan Eudja, Colin Rehnert

---

## 1. Introduction

For this project, our group explored... (This section will be finished at a later date and can be skipped at this time.)

---

## 2. Data

A direct link to the data can be found at the following website. 
 * https://www.kaggle.com/datasets/shariful07/student-mental-health
 
According to the website, this data was collected by Google Forms in July 2020 by 101 students asking them about their academic and mental health status.

**Dr. Note to students - Fill in the details of the code cell below for your project.  Be sure to read the comments in the cell for understanding, and then delete this comment.**

In [ ]:
#In this cell, we load the data.
try:
    #load your csv data from github.
    csv_data = pd.read_csv("https://raw.githubusercontent.com/jjthisguy/mental_health/main/updated_mental_health.csv")

    #Connect to a database - use a different name for your db than "example"
    conn = sql.connect('new_mental_health.db')

    #Load the csv data into a table using the connection to the db
    #that you just created in the previous line.
    csv_data.to_sql('new_mental_health', conn, index = False)

except ValueError: 
    print("""A ValueError occurred. If you've run this cell twice, 
             then you're likely getting the error because the DB was created the first time
             and Python doesn't want to overwrite it the second time.""")

In [ ]:
#Show the rows of the table.
sql_statement = """SELECT * 
                   FROM new_mental_health"""

results = pd.read_sql_query(sql_statement, conn)
results

,date_time,Gender,age,Major,current_year,gpa_range,martial_status,Depression,Anxiety,panic_attacks,Treatment
0,8/7/2020 12:02,Female,18.0,Engineering,Year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/2020 12:04,Male,21.0,Islamic education,Year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/2020 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/2020 12:06,Female,22.0,Laws,Year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/2020 12:13,Male,23.0,Mathemathics,Year 4,3.00 - 3.49,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...
96,13/07/2020 19:56:49,Female,21.0,BCS,Year 1,3.50 - 4.00,No,No,Yes,No,No
97,13/07/2020 21:21:42,Male,18.0,Engineering,Year 2,3.00 - 3.49,No,Yes,Yes,No,No
98,13/07/2020 21:22:56,Female,19.0,Nursing,Year 3,3.50 - 4.00,Yes,Yes,No,Yes,No
99,13/07/2020 21:23:57,Female,23.0,Pendidikan Islam,Year 4,3.50 - 4.00,No,No,No,No,No
100,18/07/2020 20:16:21,Male,20.0,Biomedical science,Year 2,3.00 - 3.49,No,No,No,No,No

### 2.1 Summary of Variables within the mental_health Table

The mental_health table has 11 columns/variables and 101 rows.  All variables are explained in this section. 

Note that the table was read in from a csv, but had we created a formal SQLite database for the table, the schema would have been as follows.

```
CREATE TABLE "new_mental_health" (
        "date_time" TEXT,
        "Gender" TEXT,
        "age" INTEGER,
        PRIMARY KEY("year","state")
);
```

Here are the variables, their descriptions, their units, their types, and some descriptive statistics.


**Dr. Note to students:  List your variables in a contiguous list here.**

**Categorical variables should look like this:**

* **column_name** â€“ description 
    * Number of missing values:
    * Units: if necessary; delete otherwise.
    * Contains XXX distinct values:
        * List the values.  If there are many, just list some to explain.  If there are only 10 or so, list them all and give a description of what they mean.  
    * Any other important facts, should you discover them during your analysis.

**Continuous variables should look like this:**

* **column_name** â€“ description
    * Number of missing values:
    * Units: if necessary; delete otherwise.
    * max value: XXX
    * min value: XXX
    * average value: 
    * Any other important facts, should you discover them during your analysis.

**Quantitative Discrete Variables should look like one of the above entries, depending on how many values the variable can take on.  If there are just a handful of values, such variables should mimic a categorical entry.  Otherwise, the variables should mimic the continuous examples.**

**Please delete the bolded comments from Dr. R before submission.**

### 2.2 Code used to Summarize Variables

In this section we include the code used to describe the variables in the previous section.

**Dr. Note to students:  There should be a cell (possibly more than 1) per variable/column.  Every single code cell should have a comment describing what the code is doing.  This is exemplified below.  Also, please delete this comment before submitting.**

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT date_time
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

              date_time
0        8/7/2020 12:02
1        8/7/2020 12:04
2        8/7/2020 12:05
3        8/7/2020 12:06
4        8/7/2020 12:13
..                  ...
87  13/07/2020 19:56:49
88  13/07/2020 21:21:42
89  13/07/2020 21:22:56
90  13/07/2020 21:23:57
91  18/07/2020 20:16:21

[92 rows x 1 columns]

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT Gender
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

   Gender
0  Female
1    Male

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT age
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

    age
0  18.0
1  21.0
2  19.0
3  22.0
4  23.0
5  20.0
6  24.0
7   NaN

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT Major
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

                      Major
0               Engineering
1         Islamic education
2                       BIT
3                      Laws
4              Mathemathics
5          Pendidikan islam
6                       BCS
7           Human Resources
8                     Irkhs
9                Psychology
10                    KENMS
11               Accounting
12                      ENM
13           Marine science
14                      KOE
15          Banking Studies
16  Business Administration
17                      Law
18                   KIRKHS
19                Usuluddin
20                    TAASL
21                   Engine
22                      ALA
23       Biomedical science
24                      koe
25                   Kirkhs
26                     BENL
27                     Benl
28                       IT
29                      CTS
30                    engin
31                    Econs
32                     MHSC
33                   Malcom
34                      Kop
35           Human Sciences
36            Biotechnology
37            Communication
38          Diploma Nursing
39         Pendidikan Islam
40              Radiography
41               psychology
42               Fiqh fatwa
43             DIPLOMA TESL
44                      Koe
45                     Fiqh
46        Islamic Education
47                  Nursing

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT current_year 
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

  current_year
0       Year 1
1       Year 2
2       Year 3
3       Year 4

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT gpa_range
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

     gpa_range
0  3.00 - 3.49
1  3.50 - 4.00
2  2.50 - 2.99
3  2.00 - 2.49
4     0 - 1.99

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT martial_status
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

  martial_status
0             No
1            Yes

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT Depression
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

  Depression
0        Yes
1         No

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT Anxiety
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

  Anxiety
0      No
1     Yes

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT panic_attacks 
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

  panic_attacks
0           Yes
1            No

In [ ]:
#Get the distinct values in the XXX column
sql_statement = """
                    SELECT DISTINCT Treatment 
                    FROM new_mental_health;
                    
                    
                    
                """

results = pd.read_sql_query(sql_statement, conn)
results

  Treatment
0        No
1       Yes

In [ ]:
#Get the min, max, avergae, and number of missing values in the XXX column
sql_statement = SELECT MIN()
                    ...
                """

results = pd.read_sql_query(sql_statement, conn)
results

---